.uploader input {
    display: none;
  }

  .uploader {
    -webkit-box-align: center;
    align-items: center;
    background-color: #efefef;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    height: 80px;
    -webkit-box-pack: center;
    justify-content: center;
    outline-offset: 5px;
    position: relative;
  }

  .uploader img,
  .uploader .icon {
    pointer-events: none;
  }

  .uploader,
  .uploader .icon {
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }

  .uploader .icon {
    color: #eee;
    color: rgba(0, 0, 0, 0.2);
    font-size: 5em;
  }

  .uploader img {
    left: 50%;
    opacity: 0;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .uploader img.loaded {
    opacity: 1;
  }

  .focusOut{
    cursor: pointer;
  }

  .focusOut:focus {
    outline: 0px solid transparent;
  }
  .border-style{
    border:1px dashed #cecece;
    padding:50px 0;
    text-align:center;
  }
