<mat-toolbar>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="toggleSidebar()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span routerLink="/dashboard">Star Assist</span>
    <span class="spacer"></span>
            <button mat-icon-button color="warn" (click)="logout()" matTooltip="Logout"><mat-icon>logout</mat-icon></button>
            <!-- <div mat-card-avatar class="" src="../../../../../assets/images/pic.jpg">
              </div> -->
</mat-toolbar>