<div class="section-container">
    <div class="section-top">
        <div class="button-with-title">
            <div>
                <h1 class="section-heading">Publications & Regions</h1>
            </div>
            <div>
                <button mat-raised-button color="primary" style ="margin-right: 2px;" (click)="openAddModal()">
                    <mat-icon>place</mat-icon>
                    Region
                </button>
                <button mat-raised-button color="primary" (click)="openAddModal()">
                    <mat-icon>add</mat-icon>
                    Add {{selectedTab}}
                </button>
            </div>
        </div>
    </div>
    <div class="section-body">
            <div>
                <mat-tab-group mat-align-tabs="start" (selectedTabChange)="setAddButton()" #tabGroup>
                    <mat-tab label="Publications">
                            <app-publications-list></app-publications-list>   
                    </mat-tab>
                    <mat-tab label="Regions">
                        <app-regions-list></app-regions-list>
                    </mat-tab>                    
                  </mat-tab-group>
            </div>            
              
        
    </div>
</div>
