<div mat-dialog-title style="display: flex; justify-content: space-between" class="dialog-header">
    <h1>Advanced Datepicker</h1>
    <button mat-icon-button (click)="close()" color="warn">
      <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
  <mat-tab-group mat-stretch-tabs animationDuration="700ms">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">construction</mat-icon> 
        Manual
      </ng-template>
      <app-manual-multi-datepicker></app-manual-multi-datepicker>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">precision_manufacturing</mat-icon> 
        Based on Logic
      </ng-template>
      <app-conditional-multi-datepicker></app-conditional-multi-datepicker>
    </mat-tab>
  </mat-tab-group>  
</div>
