.content-body-test{
    padding: 12% 30%;
}
.card-style{
    text-align: center;
    background-color: #f7f7f7!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.full-width{
    width: 80%;
}
.button-with-loader{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
